body {
    background-color: slateblue;
}

.container {
    border: 3px solid darkred;
    margin: 0 auto;
    height: 10rem;
    background-color: aquamarine;
    width: 94%;
}

.btn {
    width: 100%;
    background-color: #24ad98;
    color: white;
    font-weight: 700;
    padding: 20px 40px;
}

@media screen and (min-width: 360px) {
    .container {
        width: 96%;
    }
}


@media screen and (min-width: 768px) {
    .container {
        width: 720px;
    }
}


@media screen and (min-width: 1024px) {
    .container {
        width: 996px;
    }
}

.btn {
    width: auto;
}

.btn:hover {
    background-color: white;
    color: #24ad98;
}
